.cart-body {
    font-family: Arial, sans-serif;
    /* background-color: #f8f8f8; */
    padding: 20px;
}

.cart-body .empty-cart-title, .empty-cart-btn{
    text-align: center;
    font-size: 30px;
}

.cart-body .empty-cart-btn{
    margin-top: 10px;
}
.cart-body .cart-head {
    text-align: center;
    font-size: 40px;
    letter-spacing: 6px;
    font-weight: 600;
}

.cart-body .cart-layout {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.cart-body .cart-container{
    width: 70%;
    margin-left: 100px;
    background-color: white;
    border-radius: 15px;
}
.cart-body .cart-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    /* box-shadow: 0 2px 10px rgba(0,0,0,0.1); */
    overflow: hidden;
    border-radius: 15px;
    border-bottom: none;
    
}

.cart-body .cart-table th,
.cart-body .cart-table td {
    background-color: white;
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.cart-body .cart-table th {
    background-color: #f1f1f1;
}

.cart-body .product-cell img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    display: block;
    margin: auto;
    padding-top: 10px;
}

.cart-body .product-name {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0;
}

.cart-body .qty-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.cart-body a{
    text-decoration: none;
}
.cart-body .qty-control input {
    width: 45px;
    height: 32px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cart-body .qty-btn {
    width: 32px;
    height: 32px;
    background-color: #f0f0f0;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.cart-body .qty-btn:hover {
    background-color: #ddd;
}

.cart-body .remove-btn {
    background-color: #ff4d4d;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.cart-body .remove-btn:hover {
    background-color: #ff1a1a;
}

.cart-body .cart-summary{
     display: flex;
    justify-content: end;
    align-items: center;
}
.cart-body .cart-summary p {
    font-size: 18px;
    font-weight: bold;
    padding-right: 50px;
    margin: 10px 0;
}


.cart-body .price-summary {
    width:30%;
    background: #fff;
    margin-left: 60px;
    margin-right: 100px;
    padding: 20px 40px;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.cart-body .price-summary h3{
    padding-left: 20px;
}

.cart-body .summary-row {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 40px;
    margin: 20px 0;
}

.cart-body .summary-row.total {
    font-size: 18px;
    font-weight: bold;
}

.cart-body .payments-img{
    display: block;
    margin: 0 auto;
}

.cart-body .checkout-btn {
    width: 100%;
    margin-top: 12px;
    padding: 10px;
    border: none;
    background: #4CAF50;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.cart-body .checkout-btn:hover {
    background: #45a049;
}