{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="register-form-box">
        <h2>Register</h2>
        <div class="">
            {% include 'include/errors.html' %}
        </div>
        <form method="post" action="">
            {% csrf_token %}
            <input type="text" name="Username" placeholder="Full Name" required>
            <input type="email" name="Email" placeholder="Email" required>
            <input type="password" name="Password" placeholder="Password" required>
            <input type="password" name="ConfirmPassword" placeholder="Confirm Password" required>
            <button type="submit">Register</button>
        </form>
    </div>
</div>

{% endblock %}