{% extends 'payment-success-template.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'payment.css' %}">
{% endblock %}

{% block content %}
    <div class="payment-success-body">
    <div class="payment-success-container">
    <div class="payment-success">
        <i class="fa-regular fa-circle-check" id="success-icon"></i>
        <p class="success-text">Payment Success! Thank you for Shopping</p>
        <a href="{% url 'index' %}" class="success-home">Return to Home page</a>
    </div>
    </div>
    </div>
{% endblock %}
