<footer class="footer">
    <div class="footer-content">
        <h3 class="footer-logo">shoes<span>.com</span></h3>

        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>

        <p class="copyright">
            © 2025 shoes.com. All rights reserved.
        </p>
    </div>
</footer>